.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center; }
  .site-header .site-nav ul {
    list-style: none;
    padding: 0; }

.site-footer .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.site-footer .site-nav a {
  display: block;
  padding: 1em; }
