.site-header .site-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right; }

.site-header .site-nav a {
  display: block;
  padding: 1em; }

.site-footer .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: center; }

.site-footer .site-nav a {
  display: block;
  padding: 1em; }

body {
  font-family: "avenir", sans-serif;
  font-size: 100%;
  color: black; }

h1 {
  font-family: "garamond-premier-pro", serif;
  font-weight: 700; }

h2 {
  font-family: "avenir", sans-serif;
  font-weight: 300; }
