// SITE HEADER
// SITE FOOTER
// SITE-NAV
.site-header .site-nav {
    ul {
        list-style: none;
        display: flex;
        float: right;
    }

    a {
        display: block;
        padding: 1em;
    }
}

.site-footer .site-nav {
    ul {
        display: flex;
        list-style: none;
        float: center;
    }

    a {
        display: block;
        padding: 1em;
    }
}