// BODY
body {
    font-family: $subheading-fontfamily;
    font-size: 100%;
    color: $color-text-body;
}

// HEADINGS
h1 {
    font-family: $heading-fontfamily;
    font-weight: 700;
}
h2 {
    font-family: $subheading-fontfamily;
    font-weight: 300;
}